{% extends 'boilerplates.html' %}
{% block content %}

	<div class="tablepage">

		<div>

			<h3><center>
				<h2>Character List</h2>
				<table border="1">
					
					<tr>
						<th>Name</th>
						<th>Origin</th>
						<th>Rarity</th>
						<th>Description</th>

					</tr>

					{% for character in charstore %}

					<tr>

					<td>{{character.Character_Name}}</td>

					<td>{{character.Char_GameID}}</td>

					<td>{{character.Character_Rarity}}</td>

					<td>{{character.Char_Description}}</td>

					<td><a href="{% url 'chardelete' character.Character_ID %}">DELETE</a></td>
					<br />

					</tr>

					{% endfor %}

				</table>

			<h2><a href="{% url 'games' %}">BACK</a></h2>
			</center></h3>

		</div>

	</div>

{% endblock %}