{% extends 'boilerplates.html' %}
{% block content %}

	<div class="containergame">

		<div class="gamedesc">

			<h5><center>

				{% for game in specificgame %}

				<h1>{{game.Game_Name}}</h1>

				<h2>Genre: {{game.Genre}}</h2>

				<h2>Release Date: {{game.Release_Date}}</h2>

				<h3>Description: {{game.Game_Description}}</h3>

				<a href="{% url 'deletegame' game.Game_ID %}">DELETE</a>

				<button onclick="overlayOn('foroverlay')">Edit Game Information</button>

				{% endfor %}

			</center></h5>

		</div>

		<div id="foroverlay" class="overlaygame">

			<div class="formover">
				{% for game in specificgame %}
				<form id="formIndGamePage" method="POST" action="{% url 'updategame' game.Game_ID %}">
				{% endfor %}
					<center><h4>Edit the game's entries here.</h4></center>
					<label for = "game_name" class="formwidths">Game Name: </label>
					<input id="game_formedname" type = "text" name = "game_editname" placeholder="Up to 40 characters!" maxlength="40" size="25" required/>
					<br />
					<br />

					<label for = "game_reldate" class="formwidths">Release Date: </label>
					<input id="game_formedreldate" type = "date" name = "game_editreldate" required/>
					<br />
					<br />

					<label for = "game_genre" class="formwidths">Genre: </label>
					<input id="game_formedgenre" type = "text" name = "game_editgenre" placeholder="ex. Action, Adventure..." maxlength="40" size="15" required/>
					<br />
					<br />

					<label for = "game_description" class="formwidths">Game Description: </label>
					<br />
					<textarea id="game_formeddesc" rows = "10" cols="50" name = "game_editdescription" placeholder="Input the synopsis or any needed description here." required></textarea>
					<br />

					<center><input type = "submit" id = "confirmGame" value="Edit!" /></center>


					{% csrf_token %}

				</form>
				<button onclick="overlayOff('foroverlay')">Cancel</button>
			</div>
		</div>

		<div class="gamestory">
			<center>
			{% for game in specificgame %}
			<form id="formStory" method="POST" action="{% url 'storylines' game.Game_ID %}">
			{% endfor %}
				<center><h4>Create a new entry for the game's story here.</h4></center>
				<label for = "story_name" class="formwidths">Chapter Name: </label>
				<input id="story_formname" type = "text" name = "story_name" placeholder="Up to 50 characters!" maxlength="50" size="25" required />
				<br />
				<br />

				<label for = "story_desc" class="formwidths">Story Description: </label>
				<br />
				<textarea id="story_formdesc" rows = "10" cols="50" name = "story_desc" placeholder="Input the synopsis or any needed description here." required></textarea>
				<br />

				<label for = "story_setting" class="formwidths">Story Setting: </label>
				<br />
				<textarea id="story_formsetting" rows = "10" cols="50" name = "story_setting" placeholder="Input the place or setting where the chapter took place." required></textarea>
				<br />

				<center><input type = "submit" id = "confirmGame" value="Create!" /></center>

				{% csrf_token %}

			</form>
			</center>
		</div>

		<div class="storycontent">
			<center>
				{% for game in specificgame %}
				<a href="{% url 'storylines' game.Game_ID %}">Click here to go to the Storylines section.</a>
				{% endfor %}
			</center>
		</div>

		<div class="charactercreate">
			<center>
			{% for game in specificgame %}
			<form id="formStory" method="POST" action="{% url 'characters' game.Game_ID %}">
			{% endfor %}
				<center><h4>Create a new character entry here.</h4></center>
				<label for = "char_name" class="formwidths">Character Name: </label>
				<input id="char_formname" type = "text" name = "char_name" placeholder="Up to 35 characters!" maxlength="35" size="25" required />
				<br />
				<br />

				<label for = "char_rarity" class="formwidths"> Character Rarity: </label>
				<select name="char_rarity" id="char_formrarity">
					<option value="UR">UR</option>
					<option value="SSR">SSR</option>
					<option value="SR">SR</option>
				</select>

				<br />
				<br />
				<label for = "char_desc" class="formwidths">Character Description: </label>
				<br />
				<textarea id="char_formdesc" rows = "10" cols="50" name = "char_desc" placeholder="Input the synopsis or any needed description here." required></textarea>
				<br />

				<center><input type = "submit" id = "confirmGame" value="Create!" /></center>

				{% csrf_token %}

			</form>
			</center>
		</div>

		<div class="charactercontent">
			<center>
				{% for game in specificgame %}
				<a href="{% url 'characters' game.Game_ID %}">Click here to go to the Characters section.</a>
				{% endfor %}
			</center>
		</div>

		<div class="gachacreate">
			<center>
			{% for game in specificgame %}
			<form id="formStory" method="POST" action="{% url 'gachabanners' game.Game_ID %}">
			{% endfor %}
				<center><h4>Create a new gacha banner entry here.</h4></center>
				<label for = "banner_name" class="formwidths">Banner Name: </label>
				<input id="banner_name" type = "text" name = "banner_name" placeholder="Input the name of the banner here!" maxlength="80" size="25" required />
				<br />
				<br />

				<label for = "banner_type" class="formwidths"> Banner Rarity: </label>
				<select name="banner_type" id="banner_type">
					<option value="Limited">Limited</option>
					<option value="Collaboration">Collaboration</option>
					<option value="Standard">Standard</option>
				</select>

				<br />
				<br />
				<label for = "gacha_desc" class="formwidths">Banner Description: </label>
				<br />
				<textarea id="gacha_formdesc" rows = "10" cols="50" name = "gacha_desc" placeholder="Input any description about the gacha banner here." required></textarea>
				<br />
				<br />

				<label for = "gacha_reldate" class="formwidths">Release Date: </label>
				<input id="gacha_formedreldate" type = "date" name = "gacha_reldate" required/>
				<br />
				<br />

				<label for = "gacha_enddate" class="formwidths">End Date: </label>
				<input id="gacha_formedenddate" type = "date" name = "gacha_enddate" required/>
				<br />
				<br />

				<center><input type = "submit" id = "confirmGame" value="Create!" /></center>

				{% csrf_token %}

			</form>
			</center>
		</div>

		<div class="gachacontent">
			<center>
				{% for game in specificgame %}
				<a href="{% url 'gachabanners' game.Game_ID %}">Click here to go to the Gacha section.</a>
				{% endfor %}
			</center>
		</div>

<!-- 		<div>
			<nav>

			<h3>

			Directory

			<li title="Click here to head to the homepage!"><a href="index.html">Homepage</a></li>
			<li title="Go to the Mobages page!"><a href="mobagepage.html">Mobages</a></li>
			<li title="Head to the Anime page, click here!"><a href="animepage.html">Anime</a></li>
			<li title="Find out more about the Author of the website!"><a href="author.html">Author</a></li>

			</h3>
			</nav>
		</div> -->

	</div>

{% endblock %}