{% extends 'boilerplates.html' %}
{% block content %}

	<div class="containerauthor">

		<!-- <div class="iframe">
			<center>
				<table id="testTable">
					{% for item in forstoring %}
					<tr>
						<td>User Information: {{postName}}, {{postEmail}}, {{postNumber}}, {{postQuery}}</td>
						<td>{{forloop.counter}}: {{item.name}}, {{item.email}}, {{item.number}}, {{item.query}}
					</tr>
					{% endfor %}
				</table>
			</center>
		</div>
 -->
		<div class="authordescription">

			<h3><center>Games List</center></h3>

			<h2><center>

				{% for gamelist in gamewareh %}

				<a href="{% url 'gamepage' gamelist.Game_ID %}">{{gamelist.Game_Name}}</a>
				<br />

				{% endfor %}

				<p> This is where you can create and edit the games located in the website. Every game has its own ID, as well as the storyline and the characters- meaning they're unique for each game. You can view the overall tables for each character and story by clicking the Game and heading to their respective sections.</p>


			</center></h2>

		</div>

		<div class="form">
			<form id="formGamePage" method="POST">
				<center><h4>Create a new entry for a game here.</h4></center>
				<label for = "game_name" class="formwidths">Game Name: </label>
				<input id="game_formname" type = "text" name = "game_name" placeholder="Up to 40 characters!" maxlength="40" size="25" required />
				<br />
				<br />

				<label for = "game_reldate" class="formwidths">Release Date: </label>
				<input id="game_formreldate" type = "date" name = "game_reldate" required />
				<br />
				<br />

				<label for = "game_genre" class="formwidths">Genre: </label>
				<input id="game_formgenre" type = "text" name = "game_genre" placeholder="ex. Action, Adventure..." maxlength="40" size="15" required />
				<br />
				<br />

				<label for = "game_description" class="formwidths">Game Description: </label>
				<br />
				<textarea id="game_formdesc" rows = "10" cols="50" name = "game_description" placeholder="Input the synopsis or any needed description here." required></textarea>
				<br />

				<center><input type = "submit" id = "confirmGame" value="Create!" /></center>

				{% csrf_token %}

			</form>
		</div>

<!-- 		<div class="directoryarea">
			<nav>

			<h3>

			Directory

			<li title="Click here to head to the homepage!"><a href="index.html">Homepage</a></li>
			<li title="Go to the Mobages page!"><a href="mobagepage.html">Mobages</a></li>
			<li title="Head to the Anime page, click here!"><a href="animepage.html">Anime</a></li>
			<li title="Find out more about the Author of the website!"><a href="author.html">Author</a></li>

			</h3>
			</nav>
		</div>
 -->
	</div>

{% endblock %}