<!DOCTYPE html>
<html>
<head>
	<meta name="author" content="GotchaNovelist">
	<meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=0.5, user-scalable=no">

	<title>Genshin Character Insights</title>

	<link rel="stylesheet" type="text/css" href="gotchastyle.css">

</head>
<body class="genshinbody2-2">

	<div class="containergenchar">

		<div class="title">
		<h2><center>Genshin Impact: Character Insights in v2.2</center></h2>
		<h3><center>
		There's been a lot of good characters that got the spotlight in Version 2.2! Let's review their roles in this version.
		</center></h3>
		</div>

			<div class="childe">
				<center>
					<img src="images/childeportrait.png" class="imageGENcharsins" alt="Childe photo here!">
					<h3><a href="https://youtu.be/3f2-EANyrNM" title="(YouTube) Click here to see Childe in action!">Childe/Tartaglia</a></h3>
					<p>The eleventh Fatui Harbinger— he is one of the finest warriors of the continent of Teyvat, and also one of the youngest. Personally, I see him as one of the best DPS characters in the game, boasting rapid and spreading damage when faced by a large wave of enemies.</p>

				</center>
			</div>

			<div class="hutao">
				<center>
					<img src="images/hutaoportrait.png" class="imageGENcharsins" alt="Hu Tao photo here!">
					<h3><a href="https://youtu.be/qrH9vMZBwAk" title="(YouTube) Click here to see Hu Tao in action!">Hu Tao</a></h3>
					<p>Wangsheng Funeral Parlor’s own Hu Tao, the 77th director. She specializes in risky battle styles— to maximize her damage, one needs to use her elemental skills which saps some of her health… but allows her to give much more damage based on the health that she lost!</p>

				</center>
			</div>

			<div class="xinyan">
				<center>
					<img src="images/xinyanportrait.png" class="imageGENcharsins" alt="Xinyan photo here!">
					<h3><a href="https://youtu.be/MXSgda3ySTg" title="(YouTube) Click here to see Xinyan in action!">Xinyan</a></h3>
					<p>The famous rocker from Liyue! After being released way back last year, she finally has the spotlight on her! Wielding a greatsword to battle, she uses both her music and her sword to deal damage to enemies— all while supporting her allies with her elemental shield!</p>

				</center>
			</div>

			<div class="copyrightsgenchar">
				<p>Portraits taken from the game by the Genshin wiki. <a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki"><b>Visit them here. </b></a></p>
			</div>

			<div class="directoryarea">
				<nav>
				<h3>

				Directory

				<li title="Click here to head to the homepage!"><a href="index.html">Homepage</a></li>
				<li title="Go to the Mobages page!"><a href="mobagepage.html">Mobages</a></li>
				<li title="Head to the Anime page, click here!"><a href="animepage.html">Anime</a></li>
				<li title="Find out more about the Author of the website!"><a href="author.html">Author</a></li>

				<br>
				Genshin
				<li title="Go to the main page of the Genshin section!"><a href="genshinpage1.html">Main Page</a></li>
				<li title="Check GotchaNovelist's thoughts about Genshin!"><a href="genshinpersonal23.html">Thoughts</a></li>
				<li title="Version Reviews here!"><a href="genshinreview23.html">Reviews</a></li>
				<li title="Let's check the Character Insights here~"><a href="genshincharins.html">Characters</a></li>

				</h3>
				</nav>		
			</div>

			<div class="pagesgenchar">
				<h2><center>
					<a href="genshinpage1.html">Back to Main Page</a>
				</center></h2>
			</div>
	</div>

</body>
</html>