{% extends 'boilerplates.html' %}
{% block content %}

	<div class="containerauthor">

		<!-- <div class="iframe">
			<center>
				<table id="testTable">
					{% for item in forstoring %}
					<tr>
						<td>User Information: {{postName}}, {{postEmail}}, {{postNumber}}, {{postQuery}}</td>
						<td>{{forloop.counter}}: {{item.name}}, {{item.email}}, {{item.number}}, {{item.query}}
					</tr>
					{% endfor %}
				</table>
			</center>
		</div>
 -->
		<div class="authordescription">

			<h2><center>
				Feecback by the Users!
				<table border="1">
					
					<tr>
						<th>Name</th>
						<th>E-mail</th>
						<th>Number</th>
						<th>Query</th>

					</tr>

					{% for item in forstoring %}

					<tr>

					<td>{{item.name}}</td>

					<td>{{item.email}}</td>

					<td>{{item.number}}</td>

					<td>{{item.query}}</td>

					<br />

					</tr>

					{% endfor %}

				</table>

			<a href="{% url 'feeddel' %}">DELETE</a>

			</center></h2>

		</div>

		<div class="form">
			<form id="formGNPage" method="POST">
				<center><h4>Contact GotchaNovelist here!</h4></center>
				<label for = "user_name" class="formwidths">Name: </label>
				<input id="userAuthor" type = "text" name = "user_name" placeholder="Up to 30 characters!" maxlength="30" size="30" required />
				<br />
				<br />

				<label for = "user_email" class="formwidths">E-mail: </label>
				<input id="emailAuthor" type = "email" name = "user_email" placeholder="E-mail address here!" size="30" required />
				<br />
				<br />

				<label for = "user_number" class="formwidths">Phone Number: </label>
				<br />
				<input id="numAuthor" type = "tel" name = "user_number" size="30" />
				<br />
				<br />


				<label for = "user_query" class="formwidths">Query: </label>
				<textarea id="queryAuthor" rows = "10" cols="50" name = "user_query" placeholder="Any questions? Queries to tell me?" required></textarea>
				<br />

				<center><input type = "submit" id = "confirmAuthor" value="Proceed!" /></center>

				{% csrf_token %}

			</form>
		</div>

<!-- 		<div class="directoryarea">
			<nav>

			<h3>

			Directory

			<li title="Click here to head to the homepage!"><a href="index.html">Homepage</a></li>
			<li title="Go to the Mobages page!"><a href="mobagepage.html">Mobages</a></li>
			<li title="Head to the Anime page, click here!"><a href="animepage.html">Anime</a></li>
			<li title="Find out more about the Author of the website!"><a href="author.html">Author</a></li>

			</h3>
			</nav>
		</div>
 -->
	</div>

{% endblock %}