{% extends 'boilerplates.html' %}
{%block content%}

	<div class="containerp2">

		<div class="p2results">
			<center>
				<p> This is where the data from the first page goes to.</p>
				<table id="testTable">
					{% for item in forstoring %}
					<tr>
						<!-- <td>User Information: {{postName}}, {{postEmail}}, {{postNumber}}, {{postQuery}}</td> -->
						<td>{{forloop.counter}}: {{item.name}}, {{item.email}}, {{item.number}}, {{item.query}}
					</tr>
					{% endfor %}
				</table>
			</center>
		</div>

		<div class="p2desc">

			<h5><center>
				Greetings! This is the second page of the Boilerplate project.

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo id leo porta imperdiet at ac tellus. Donec lectus nulla, maximus nec est id, pulvinar gravida magna. Aenean tincidunt scelerisque nisl, vitae sollicitudin est rhoncus ut. Aliquam eget blandit risus. Pellentesque ut metus dui. Vestibulum velit justo, finibus vel viverra nec, blandit id urna. Pellentesque in molestie nibh. Suspendisse consequat sit amet sem nec malesuada. Mauris velit ipsum, sollicitudin vitae sagittis ut, iaculis eget magna.</p>

				<p> Curabitur euismod, ex non sagittis tristique, orci dui blandit sem, sed tristique mauris lectus a risus. Morbi euismod magna mauris. Donec vestibulum hendrerit neque at tristique. Curabitur rutrum nunc non tincidunt pretium. Mauris feugiat volutpat tortor ac dapibus. In mollis dignissim suscipit. In eleifend, nulla vitae egestas vestibulum, nulla tortor placerat leo, eu feugiat est neque in turpis. Fusce sed faucibus odio, vitae bibendum ex. Nam quis turpis scelerisque, hendrerit turpis id, sollicitudin sem. Phasellus egestas arcu ligula, at aliquam lectus efficitur at. Quisque dolor tortor, mattis nec semper nec, aliquam ultricies leo. Pellentesque augue nibh, fringilla finibus facilisis at, porta non lectus. Aenean scelerisque non mi eu tincidunt. Etiam ultricies augue erat, a dictum sapien pulvinar quis. </p>

				<p><a href="/secondpage">Click here to go to the second page.</a></p>

			</center></h5>

		</div>

	</div>

{% endblock %}