{% extends 'boilerplates.html' %}
{% block content %}

	<div class="tablepage">

		<div>

			<center>
				<h2>Overall Story Chapter List</h2>
				<table border="1">
					
					<tr>
						<th>Chapter Title</th>
						<th>Origin</th>
						<th>Chapter Description</th>
						<th>Chapter Setting</th>

					</tr>

					{% for game in stories %}

					<tr>

					<td>{{game.Chapter_Name}}</td>

					<td>{{game.Story_GameID}}</td>

					<td>{{game.Chapter_Description}}</td>

					<td>{{game.Chapter_Setting}}</td>

					<td><a href="{% url 'storydelete' game.Chapter_ID %}">DELETE</a></td>
					<br />

					</tr>

					{% endfor %}

				</table>

			<h2><a href="{% url 'games' %}">BACK</a></h2>

			</center>

		</div>

	</div>

{% endblock %}